# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Poetry
.venv/
poetry.lock

# Environments
.env
.venv
env/
venv/

# Docker
.docker/

# Data files
*.csv
*.parquet
*.avro
*.json
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3
data/
tmp/
temp/

# Logs
logs/
*.log
airflow-logs/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS specific
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Airflow
airflow.db
airflow.cfg
webserver_config.py
airflow-webserver.pid

# Spark
derby.log
metastore_db/
spark-warehouse/

# Hadoop
hadoop.tmp.dir/
namenode/
datanode/
